<mat-card>
  <mat-card-title>Search</mat-card-title>
  <mat-card-subtitle>Filter hotel results {{ hotelResponse?.results?.hotels?.length ? '(' + hotelResponse?.results?.hotels?.length + ')' : '' }}</mat-card-subtitle>
  <mat-card-content>
    <form class="flex flex-column" [formGroup]="hotelSearchFormGroup">
      <mat-form-field [appearance]="'outline'" floatLabel="always">
        <mat-label>Hotel name</mat-label>
        <input matInput [type]="'text'" [placeholder]="'Search for hotel...'" [formControlName]="'hotelSearch'" aria-label="hotel saearch"/>
      </mat-form-field>
      <mat-form-field [appearance]="'outline'" floatLabel="always">
        <mat-label>Price</mat-label>
        <mat-select [placeholder]='"Price filter..."' [formControlName]="'currency'">
          <mat-option [value]='currencyEnum.RECOMMENDED' disabled>Recommended</mat-option>
          <mat-option [value]='currencyEnum.DESC'>Price low-to-high</mat-option>
          <mat-option [value]='currencyEnum.ASC'>Price high-to-low</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
    <button mat-raised-button [matTooltip]="'Reset search criteria'" [color]="'primary'" (click)="resetSearch()" [disabled]="!hotelSearchFormGroup.controls.currency.value && !hotelSearchFormGroup.controls.hotelSearch.value">Reset</button>
    <button mat-stroked-button [matTooltip]="'Refresh data from endpoint'" (click)="getHotels()">Refresh</button>
  </mat-card-content>
</mat-card>

<ng-container *ngIf="tableData?.data?.length; else noResults">
  <mat-card *ngFor="let hotel of tableData.data" class="search-result">
    <img [src]="hotel.hotelStaticContent.mainImage.url" alt="hotel hero image"/>
    <div class="flex-grow-1 padding-m">
      <p class="font-weight-500 padding-bottom-m">{{ hotel.hotelStaticContent.name }}</p>
      <p>{{ hotel.hotelStaticContent.neighborhoodName }}</p>
      <p>{{ hotel.hotelStaticContent.rating }} / 10</p>
    </div>
    <mat-divider vertical></mat-divider>
    <div class="flex flex-wrap padding-m search-result-controls">
      <p class="align-self-start">{{ hotel.rewards.miles | number }} miles</p>
      <p class="align-self-center">{{ hotel.lowestAveragePrice.amount | currency }} per night</p>
      <div class="align-self-end">
        <button mat-raised-button [color]="'primary'">Select</button>
      </div>
    </div>
  </mat-card>
</ng-container>

<ng-template #noResults>
    <p class="text-align-center">No hotel results</p>
</ng-template>
