<mat-card>
  <mat-card-title>Search</mat-card-title>
  <mat-card-subtitle>Filter hotel results</mat-card-subtitle>
  <mat-card-content>
    <form class="flex flex-column" [formGroup]="hotelSearchFormGroup">
      <mat-form-field [appearance]="'outline'" floatLabel="always">
        <mat-label>Hotel name</mat-label>
        <input matInput [type]="'text'" [placeholder]="'Search for hotel...'" [formControlName]="'hotelSearch'" aria-label="hotel saearch"/>
      </mat-form-field>
      <mat-form-field [appearance]="'outline'" floatLabel="always">
        <mat-label>Price</mat-label>
        <mat-select [placeholder]='"Price filter..."' [formControlName]="'currency'">
          <mat-option [value]='"recommended"'>Recommended</mat-option>
          <mat-option [value]='"desc"'>Price low-to-high</mat-option>
          <mat-option [value]='"asc"'>Price high-to-low</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
    <button mat-raised-button [color]="'primary'" (click)="resetSearch()">Reset</button>
  </mat-card-content>
</mat-card>

<ng-container *ngIf="hotelResponse">
  <mat-card *ngFor="let hotel of hotelResponse.results.hotels">
    <img [src]="hotel.hotelStaticContent.mainImage.url" alt="hotel hero image"/>
    <p>{{ hotel.hotelStaticContent.name }}</p>
    <p>{{ hotel.hotelStaticContent.neighborhoodName }}</p>
    <p>{{ hotel.rewards.miles | number }} miles</p>
    <p>{{ hotel.lowestAveragePrice.amount | currency }} per night</p>
    <button mat-raised-button [color]="'primary'">Select</button>
  </mat-card>
</ng-container>
