$image-dimension: 200px;
$search-result-controls-width: 100px;
$mat-card-height: 180px;

mat-card.mat-card.search-result {
  display: flex;
  height: $mat-card-height;
}

img {
  width: $image-dimension;
  max-height: $image-dimension;
}

.search-result-controls {
  width: $search-result-controls-width;
}
