$image-max-height: 200px;
$image-width: 160px;
$search-result-controls-width: 100px;
$mat-card-height: 180px;

mat-card.mat-card.search-result {
  display: flex;
  height: $mat-card-height;
}

img {
  max-width: $image-width;
  max-height: $image-max-height;
}

.search-result-controls {
  width: $search-result-controls-width;
}
